<table class="table table-hover table-dark">
    <tr>
        <td>Hero Id</td>
        <td>{{selectedHero.heroId}}</td>
    </tr>
    <tr>
        <td>Hero Name</td>
        <td><input type="text" [(ngModel)]="selectedHero.heroName"></td>
    </tr>
    <tr>
         <td>Hero Gender</td>
        <td><input type="text" [(ngModel)]="selectedHero.heroGender"></td>
    </tr>
    <tr>
        <td>Hero Production</td>
        <td><input type="text" [(ngModel)]="selectedHero.heroProduction"></td>
    </tr>
</table>
