
      <form class="form-inline">
          <table> 
              <thead>
                  <tr>
                      <td>
                            <label class="text-info display-5">SearchHero :</label>
                      </td>
                      <td>
                            <input type="text" class="form-control" id="searchHero" placeholder="Enter Hero Name" name="searchHero">
                      </td>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td></td>
                      &nbsp;<td> <button type="submit" class="btn btn-primary" (click)="searchHero()">Search</button> </td>
                  </tr>
              </tbody>
          </table>
        
        
         
         
        </form>
    
